main {
  display: flex;
  justify-content: center;
}

main form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)), url(../img/vinyl.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  padding: 25px;
  color: white;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main form h2 {
  margin-bottom: 25px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

main form label {
  font-size: 20px;
}

main form input {
  margin: 10px 0 15px;
  padding: 7px 10px;
  width: 200px;
  border-radius: 50px;
  border: none;
}

main form button[type=submit] {
  padding: 7px 14px;
  background-color: #e9c788;
  border: none;
  font-size: 15px;
  margin-top: 10px;
}

main form button[type=submit]:hover {
  background-color: #c2a570;
  color: white;
}
