footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    margin-top: 50px;
    p{
        text-align: center;
    }
}